*{
    margin: 0px;
    scroll-behavior: smooth;
}

.img-logo{
    max-width: 80px;
    max-height: auto;
}
#card-main {
    background-color: white;
    background-image: url("../assets/FFFFFF.png");
    height: 100%;
    justify-content: center;
    transition:  ease-in-out 700ms;
    background-position: center;
    background-size: cover;
}

#card-main_text{
    padding-top: 20vh;
    width: 60%;
    max-width: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-self: center;
    margin: auto;
}

.subcard-text{
    padding-top: 10vh;
    width: 90%;
    justify-self: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}

.subcard-text h1{
    
    padding: 8%;
    padding-left: 14px;
    font-size: 50px;
}

.subcard-description{
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: left;
    width: 60%;
    text-align: left;
    font-size: 20px;
}

.subcard-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20vh;
    margin-right: 16%;
    text-align: left;
}

.subcard-centraltext{
    margin: auto;
    padding-top: 10vh;
    padding-left: 20vw;
    transition: ease-in-out 200ms;
    color: white;
    font-size: 20px;
    opacity: 1;
    transition: ease-in-out 700ms;
}
.hide {
    opacity: 0 !important;
}

.subcard-contact_link{
    text-align: center;
    background-color: rgb(122.5, 98, 30.5);
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    color: black;
}

.center-text{
    width: 100%;
    text-align: center;
}

.inline-text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.inline-left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}

.inline-text_ul{
    display: flex;
    justify-content: space-evenly;
    width: 27vw;
    min-width: fit-content;
    max-width: 160px;
    height: 35px;
    align-items: center;
    border-radius: 2px;
}

.text1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;/*rgb(245, 196, 61);*/
    font-size: 60px;
}

.text3{
    color: black;/*rgb(245, 196, 61);*/
}

a{
    color: black;
    text-decoration: none;
}

#card-residential {
    background-image: url("../assets/FFFFFF.png");
    width: 100%;
    height: 100%;
    justify-content: center;
    transition:  ease-in-out 700ms;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#card-marine {
    background-image: none;
    background-color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    transition:  ease-in-out 1200ms;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#card-auto {
    background-color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    transition:  ease-in-out 700ms;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card-contact {
    background-color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    transition:  ease-in-out 700ms;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}